<p-table [value]="rows || []"
         [autoLayout]="true"
         [scrollable]="true"
         [scrollHeight]="height+'px'"
         [resizableColumns]="true"
         [responsiveLayout]="'scroll'"
         sortField="data.node_unid" sortMode="multiple" dataKey="data.node_unid"
         rowGroupMode="subheader" groupRowsBy="data.node_unid">
  <ng-template pTemplate="caption">
    <div class="flex items-center gap-5">
      <span class="text-xl font-bold">Traefik nodes</span>
      <p-button label="Node" variant="outlined"
                icon="pi pi-plus" severity="primary"
                (onClick)="openEditNodeModal()"/>
      <p-button class="ml-auto"
                icon="pi pi-refresh" variant="outlined"
                rounded raised severity="contrast"
                [loading]="isRefreshingRows"
                (click)="refreshRows()"/>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th></th>
      @for (column of columns; track $index) {
        @if ($first) {
          <th [pSortableColumn]="column.field"
              pResizableColumn>
            {{ column.header }}
            <p-sortIcon [field]="column.field"/>
          </th>

        } @else {
          <th [pSortableColumn]="column.field"
              pResizableColumn>
            {{ column.header }}
            <p-sortIcon [field]="column.field"/>
          </th>
        }
      }
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <div class="max-h-[800px] overflow-y-auto overflow-x-auto">

  </div>
  <ng-template pTemplate="body" let-serverNode let-rowIndex="rowIndex" let-expanded="expanded">
    <tr>
      <td>
        @if (serverNode.hostnames?.all?.length > 0) {
          <p-button type="button" styleClass="pr-0" variant="text" severity="secondary"
                    [pRowToggler]="serverNode" pButtonIcon pRipple rounded>
            @if (expanded) {
              <ChevronDownIcon pButtonIcon/>
            } @else {
              <ChevronRightIcon pButtonIcon/>
            }
          </p-button>
        }
      </td>
      <td>
        @if (serverNode.hostnames?.all?.length > 0) {
          <div class="flex flex-col gap-2 pl-3">
            @if (serverNode.hostnames?.active?.length > 0) {
              <p-badge class="w-full" severity="success" value=" {{serverNode.hostnames?.active?.length}} "/>
            }

            @if ((serverNode.hostnames?.all?.length - serverNode.hostnames?.active?.length) > 0) {
              <p-badge class="w-full" severity="warn"
                       value=" {{serverNode.hostnames?.all?.length - serverNode.hostnames?.active?.length}} "/>
            }
          </div>
        } @else {
          <div class="pl-3">
            <p-badge class="w-full" severity="info" value=" 0 "/>
          </div>
        }
      </td>

      @for (column of columns; track $index) {
        <td>
          {{ serverNode.data[column.field] }}
        </td>
      }

      <td class="!text-right">
        <p-button class="!ml-auto"
                  variant="outlined"
                  icon="pi pi-pencil"
                  rounded raised severity="secondary"
                  (click)="openEditNodeModal(serverNode.data)"/>
      </td>

      <td class="!text-right">
        <p-button class="!ml-auto"
                  icon="pi pi-trash"
                  rounded raised severity="danger"
                  [loading]="isDeletingNode[serverNode.data.node_unid]"
                  (click)="deleteNodeModal(serverNode)"/>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="expandedrow" let-serverNode>
    @for (hostname of serverNode.hostnames.all; track $index) {
      <tr>
        <td [attr.colspan]="columns.length + 3">
            <span class="group flex items-center gap-2.5 pl-3">
              @if (serverNode.hostnames.active.includes(hostname)) {
                <p-tag value="Active" severity="success"/>
              } @else {
                <p-tag value="Duplicate" severity="warn"/>
              }
              <a target="_blank"
                 rel="noopener noreferrer"
                 class="underline hover:brightness-90"
                 [href]="'https://'+hostname">
                {{ hostname }}
              </a>

              <p-popover #popover>
                Copied!
              </p-popover>
              <p-button class="opacity-0 group-hover:opacity-100 transition-opacity duration-300"
                        pButtonIcon pRipple size="small"
                        type="button" icon="pi pi-clipboard"
                        variant="text" severity="secondary"
                        (click)="onClipboard(hostname, popover, $event)">
          </p-button>
            </span>
        </td>
      </tr>
    }
  </ng-template>
</p-table>

<p-dialog #nodeDataEditDialog class="w-3xl" [header]="`${nodeDataEdit ? 'Update' : 'Add'} traefik node`"
          [(visible)]="showEditNodeModal" [modal]="true">
  <ng-template pTemplate="content">
    <node-form [parentElement]="nodeDataEditDialog"
               [nodeData]="nodeDataEdit" #nodeForm
               (onChange)="nodeFormChanged($event)"/>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Cancel" severity="secondary" icon="pi pi-times" text (click)="closeEditNodeModal()"/>
    <p-button icon="pi pi-check"
              [label]="isReplacingNode ? 'Replace' : nodeDataEdit ? 'Update' : 'Add'"
              [severity]="isReplacingNode ? 'warn' : 'success'"
              [disabled]="nodeForm && nodeForm.form.invalid"
              [loading]="isSavingNode" (click)="saveEditNodeModal()"/>
  </ng-template>
</p-dialog>

<delete-modal #deleteModalComponent/>
