<form class="flex flex-col items-center gap-2" [formGroup]="form">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-tag"></i>
    </p-inputgroup-addon>


    <p-iftalabel>
      <input pInputText id="node_unid" [pKeyFilter]="idSafe" [formControl]="form.controls.node_unid"/>
      <label for="node_unid">ID</label>
    </p-iftalabel>
  </p-inputgroup>

  <p-inputgroup>

    <p-inputgroup-addon>
      <i class="pi pi-globe"></i>
    </p-inputgroup-addon>

    <p-iftalabel  class="max-w-28">
      @if (parentElement) {
        <p-select id="protocol"
                  [appendTo]="parentElement"
                  [options]="nodeProtocolsList"
                  [formControl]="form.controls.protocol"/>
      } @else {
        <p-select id="protocol"
                  [options]="nodeProtocolsList"
                  [formControl]="form.controls.protocol"/>
      }
      <label for="protocol">Protocol</label>
    </p-iftalabel>

    <p-iftalabel>
      <input pInputText id="hostname" [pKeyFilter]="hostnameSafe" [formControl]="form.controls.hostname"/>
      <label for="hostname">Hostname</label>
    </p-iftalabel>

    <p-inputgroup-addon>:</p-inputgroup-addon>
    <p-iftalabel class="max-w-20">
      <p-inputnumber required id="port"
                     inputId="minmax"
                     placeholder="Port"
                     [min]="0"
                     [max]="65535"
                     [useGrouping]="false"
                     [formControl]="form.controls.port">
      </p-inputnumber>
      <label for="port">Port</label>
    </p-iftalabel>
    <p-inputgroup-addon>/</p-inputgroup-addon>
    <p-iftalabel>
      <input pInputText id="path" [pKeyFilter]="pathSafe" [formControl]="form.controls.path"/>
      <label for="path">Path</label>
    </p-iftalabel>
  </p-inputgroup>
</form>

