<p-toast/>
<p-panel header="Add traefik node">
  <form [formGroup]="nodeForm" class="panel-body flex flex-col gap-6">
    <!-- Controls -->
    <div class="flex flex-col items-center gap-2">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-tag"></i>
        </p-inputgroup-addon>
        <input pInputText required
               placeholder="ID"
               [formControl]="nodeForm.controls.node_unid"/>
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-globe"></i>
        </p-inputgroup-addon>
        <p-select [options]="nodeProtocolsList"
                  placeholder="Select a protocol"
                  [formControl]="nodeForm.controls.protocol"/>
        <input pInputText required
               placeholder="Hostname"
               [formControl]="nodeForm.controls.ip"/>
        <p-inputgroup-addon>:</p-inputgroup-addon>
        <p-inputnumber required
                       inputId="minmax"
                       placeholder="Port"
                       [min]="0"
                       [max]="65535"
                       [useGrouping]="false"
                       [formControl]="nodeForm.controls.port">
        </p-inputnumber>
        <p-inputgroup-addon>/</p-inputgroup-addon>
        <input pInputText
               placeholder="Path"
               [formControl]="nodeForm.controls.path"/>
      </p-inputgroup>
    </div>

    <!-- Actions -->
    <div class="flex">
      <p-button class="w-full"
                styleClass="w-full"
                label="Update"
                severity="success"
                [raised]="true"
                [disabled]="nodeForm.invalid"
                (click)="addNode(nodeForm)"/>
    </div>
  </form>
</p-panel>
